@model WebApplSignalR.Models.TrajetVM
@{
    ViewBag.Title = "Edit trajet";
}


@using (Html.BeginForm("Update", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.GareArrivee)
    @Html.HiddenFor(m => m.GareDepart)
    @Html.HiddenFor(m => m.NumeroTrain)
    <div class="row">
        <div class="form-group col-lg-12">
            <h1> @Model.NumeroTrain - @Model.GareDepart - @Model.GareArrivee</h1>
        </div>
    </div>
    <div class="row">
        <!-- Date de départ -->
        <div class="form-group col-lg-12">
            <label class="col-lg-1 control-label required"> Départ </label>
            <div class="col-lg-11">

                @Html.TextBoxFor(m => m.DateHeureDepart)

            </div>
        </div>
    </div>
    <div class="row">
        <!-- Date d'arrivée -->
        <div class="form-group col-sm-12">
            <label class="col-lg-1 control-label required"> Arrivée </label>
            <div class="col-lg-11">
                @Html.TextBoxFor(m => m.DateHeureArrivee)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12">

            <button class="btn btn-success" type="submit">
                <i class="fa fa-save"></i> Sauvegarder
            </button>
            <a href="@Url.Action("Administration")" class="btn btn-danger">Annuler</a>

        </div>
    </div>

}

<script type="text/javascript">
    $(function () {
        $('#DateHeureDepart').datetimepicker();
        $('#DateHeureArrivee').datetimepicker();
    });
</script>

